body 
{
	font-family: arial;
	color: darkgray;
}

h1
{
	text-align: center;
}

button
{
	margin-left: 4px;
	margin-right: 4px;
}

.hidden
{
	display: none;
}

.transparent
{
	opacity: 0
}

#sample-container
{
	margin-top: 5rem;
	text-align: left;
	color: blue;
	margin-left: 30%;
}




